@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: #e0e7ff;
}
::-webkit-scrollbar-thumb {
  background: #a5b4fc;
  border-radius: 20px;
}

.navbar {
  height: 600px;
}
@media screen and (min-width: 640px) {
  .navbar {
    height: auto;
  }
}
